<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0b3ba22398.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Sobre Mi</title>
</head>
<body>
    <header>
        <img src="../img/foto_fer.jpg" alt="Foto de Perfil de Fer">
        <nav>
            <ul type=none>
                <li> <a href="../index.html">Volver a mi CV</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>SOBRE MI</h1>
        <p class="texto">¿Viste cuando alguien siente que las horas se le pasan volando sin darse cuenta? Bueno, eso es lo que me sucede cuando bailo flamenco, podría estar bailando todo el día!! <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, ea in nesciunt eos fuga aliquid magni doloremque repellendus numquam pariatur optio iste corporis iure voluptatum repellat reiciendis? Placeat, distinctio animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, aut laudantium laborum facilis, odit adipisci consectetur optio ad iste eveniet velit accusantium sit modi excepturi possimus. Asperiores earum ullam ipsum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita dicta nostrum, at alias asperiores numquam, cupiditate tempore eveniet maxime nulla non impedit quas ut labore repellendus voluptates ducimus blanditiis minus.</p>
    </main>
    <footer>
        <p> <span class="contacto">0810-FER </span>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
            <a href="https://github.com/rfescobar"><i class="fab fa-github"></i></a>
        </p>
    </footer>
</body>
</html>