/*-------General---------*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.36' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

h1, h3 {
    background-color:#C4C4C4;
    color:#005677;
    padding:7px 10px ;
    letter-spacing:2px;
}
/*---------HEADER---------*/
header{
    text-align:center;
    background-color: #E5E5E5;
    padding:20px;
}

h1{
    text-align:center;
    letter-spacing:4px;
}
/*--------NAV-----------*/
nav {
    text-align:center;
    margin:30px;
}
nav ul li a{
    text-decoration:none;
    border: solid 1px;
    padding: 5px 7px;
    color:#005677;
}

/*---------MAIN---------*/
main{
    margin:100px 200px;
}

.italica{
    font-weight: bold;
    font-style: italic;
}
ul{
    padding:0px 40px; 
    margin:5px 0px;
}
table {
    padding:0px 50px;
    margin:5px 0px;
}

.negrita{
    font-weight: bold;
}
.texto{
    padding: 90px;
    text-align: justify;
}
/*------------FOOTER--------------*/
footer {
    background-color:#005677;
    text-align:center;
    padding: 1px;
}
.contacto{
    color:#FFFFFF;
}
footer i{
    margin: 0px 5px;
    color:#FFFFFF
}